version: '3.8'

services:
  cold-flow:
    build: .
    container_name: cold_flow_tf
  
    ports:
      - "6006:6006" 
    
    volumes:
      - .:/app  
      - ./dataset:/app/dataset 
    environment:
      - TF_CPP_MIN_LOG_LEVEL=2 
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    stdin_open: true
    tty: true
    command: /bin/bash